html {
  -webkit-text-size-adjust: none;
}
@media all and (max-width: 1170px) {
  header,
  footer,
  .med {
    width: 1170px;
  }
}
a {
  text-decoration: none !important;
}
.contain {
  width: 1170px;
  margin: 0 auto;
}
header .logo {
  height: 100px;
}
header .logo img {
  width: 106px;
  height: 70px;
  margin-right: 20px;
}
header .qr {
  height: 100px;
}
header .qr img {
  width: 70px;
  height: 70px;
  border: 1px solid #eaeaea;
  margin-left: 24px;
}
header .head-nav {
  background: #003a81;
  height: 90px;
}
header .head-nav li {
  display: inline-block;
  position: relative;
}
header .head-nav li p {
  margin: 0;
}
header .head-nav li p a {
  display: block;
  line-height: 90px;
  color: #fff;
  padding: 0 30px 0 20px;
  transition: .3s;
}
header .head-nav li div {
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 100;
  width: 260px;
  display: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 10px 0;
}
header .head-nav li div a {
  display: block;
  color: #000;
  padding: 0 30px 0 20px;
  line-height: 44px;
  transition: .3s;
}
header .head-nav li .active {
  color: #7cc46c;
}
header .head-nav li a:hover {
  color: #7cc46c;
}
header .head-nav li:first-child a {
  padding-left: 0;
}
header .head-nav li:hover div {
  display: block;
}
footer {
  background: #003a81;
  text-align: center;
}
footer .contain {
  height: 300px;
  color: #fff;
}
footer .contain img {
  width: 100px;
  height: 100px;
  margin: 10px 0;
}
footer .contain p {
  margin: 0;
  color: #ccd8e6;
  line-height: 28px;
}
footer .contain h3 {
  margin-bottom: 40px;
}
footer .contain span {
  font-size: 20px;
}
.index .banner {
  position: relative;
  height: 830px;
}
.index .banner div {
  position: absolute;
  top: 0;
  left: 0;
  height: 830px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
.index .banner div:first-child {
  display: block;
}
.index .service .title {
  text-align: center;
}
.index .service .title h2 {
  margin: 60px 0 20px 0;
  font-size: 30px;
}
.index .service .title span {
  font-weight: bold;
}
.index .service .title div {
  margin: 0 auto;
  width: 380px;
  height: 1px;
  background: #ddd;
  margin-bottom: 76px;
  position: relative;
}
.index .service .title div i {
  display: block;
  width: 50px;
  height: 3px;
  background: #7cc46c;
  position: absolute;
  top: -1px;
  left: 165px;
}
.index .service ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.index .service ul li {
  display: flex;
}
.index .service ul li img {
  width: 64px;
  height: 64px;
}
.index .service ul li div {
  margin-left: 18px;
  width: 290px;
}
.index .service ul li div h3 {
  margin: 0;
  font-size: 16px;
}
.index .service ul li div hr {
  border: none;
  width: 40px;
  border-bottom: 3px solid #7cc46c;
  margin: 12px 0;
}
.index .service ul li div p {
  margin: 0;
  line-height: 24px;
  color: #808080;
}
.index .service .server {
  padding-top: 30px;
}
.index .service .server figure {
  width: 370px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.index .service .server figure img {
  width: 370px;
  height: 260px;
  transition: .5s;
}
.index .service .server figure div {
  width: 370px;
  height: 280px;
  overflow: hidden;
}
.index .service .server figcaption {
  padding: 10px 30px 40px 40px;
}
.index .service .server figcaption h4 {
  font-size: 24px;
}
.index .service .server figcaption hr {
  border: none;
  width: 40px;
  border-bottom: 3px solid #7cc46c;
  margin: 12px 0;
}
.index .service .server figcaption p {
  margin: 0;
  padding: 10px 0 30px 0;
  line-height: 24px;
  color: #808080;
}
.index .service .server figcaption a {
  color: #000;
  font-weight: bold;
}
.index .service .server figure:hover img {
  transform: scale(1.16, 1.16);
}
.index .service .server figure:hover a {
  color: #003a81;
}
.index .intro {
  margin-top: 100px;
}
.index .intro .tab {
  padding: 0 420px;
  border-bottom: 1px solid #f3f3f3;
}
.index .intro .tab div {
  width: 110px;
  text-align: center;
  line-height: 64px;
  font-size: 16px;
  cursor: pointer;
}
.index .intro .tab .active {
  color: #fff;
  background: #003a81;
}
.index .intro ul {
  margin: 40px 0 120px 0;
}
.index .intro ul li {
  display: none;
}
.index .intro ul li img {
  width: 360px;
  height: 360px;
  border-radius: 6px;
}
.index .intro ul li div {
  width: 770px;
}
.index .intro ul li h4 {
  font-size: 16px;
  font-weight: bold;
}
.index .intro ul li p {
  font-size: 14px;
  color: #333;
  line-height: 30px;
}
.url-position {
  height: 56px;
  background: #f4f4f4;
}
.url-position div {
  line-height: 56px;
  color: #484848;
  font-size: 12px;
}
.url-position div a {
  color: #484848;
}
.url-position div span {
  color: #a7a7a7;
}
.news .list {
  padding-top: 20px;
}
.news .list li {
  padding: 30px 0;
  border-bottom: 1px solid #efefef;
}
.news .list li .img {
  width: 270px;
  height: 136px;
  overflow: hidden;
}
.news .list li .img img {
  width: 270px;
  height: 136px;
  transition: .5s;
}
.news .list li .word {
  width: 720px;
  transition: .5s;
}
.news .list li .word a {
  font-size: 16px;
  color: #333;
}
.news .list li .word p {
  color: #a1a1a1;
  font-size: 12px;
  margin-top: 20px;
  line-height: 30px;
}
.news .list li .time {
  width: 88px;
  color: #999;
}
.news .list li .time span {
  margin-left: 12px;
  transition: .5s;
}
.news .list li .time a {
  display: block;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  color: #999;
  margin-top: 20px;
  transition: 1s;
}
.news .list li:hover .img img {
  transform: scale(1.16, 1.16);
}
.news .list li:hover .word {
  width: 710px;
  padding-left: 10px;
}
.news .list li:hover .word a {
  color: #7cc46c;
}
.news .list li:hover .time span {
  margin-left: 0;
}
.news .list li:hover .time a {
  background: #7cc46c;
  color: #fff;
}
.M-box a {
  border: none;
  color: #666;
}
.M-box .active {
  background: #003a81;
  border: none;
  border-radius: 4px;
}
.M-box a:hover {
  border: none;
  background: #f7f7f7;
  border-radius: 4px;
  color: #666;
}
.news-detail {
  padding-bottom: 72px;
}
.news-detail .content {
  width: 780px;
}
.news-detail .content .title {
  padding-top: 40px;
}
.news-detail .content .title h3 {
  font-size: 18px;
  margin: 0;
}
.news-detail .content .title span {
  font-size: 12px;
}
.news-detail .content .detail img {
  max-width: 780px;
}
.news-detail .content .detail p {
  border-bottom: 1px dashed #efefef;
  line-height: 30px;
  margin: 0;
  padding: 20px 0;
  color: #666;
  font-size: 12px;
}
.news-detail .content .detail p:last-child {
  border-bottom: none;
}
.news-detail .commend {
  width: 310px;
}
.news-detail .commend li {
  padding: 30px 0 20px 0;
  border-bottom: 1px solid #efefef;
}
.news-detail .commend li h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.news-detail .commend li p {
  line-height: 30px;
  font-size: 12px;
  margin: 0;
}
.news-detail .commend li:last-child {
  border-bottom: none;
}
.news-detail .commend li:hover h4 {
  color: #7cc46c;
}
.business-detail {
  padding-bottom: 200px;
}
.business-detail .content h2 {
  line-height: 70px;
  font-size: 18px;
  margin: 0;
  border-bottom: 1px solid #ebebeb;
}
.business-detail .content h5 {
  color: #989898;
  margin: 30px 0 10px 0;
}
.business-detail .content img {
  max-width: 1170px;
}
.business-detail .content p {
  font-size: 12px;
  line-height: 30px;
  margin: 0;
  padding: 12px 0;
  color: #989898;
}
.contact-us iframe {
  overflow: hidden;
  width: 100%;
}
.contact-us .tab {
  position: relative;
}
.contact-us ul {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  top: -56px;
  left: 0;
  z-index: 100;
}
.contact-us ul li {
  width: 390px;
  color: #666;
  height: 100px;
  font-size: 14px;
  background: #fff;
  cursor: pointer;
  border-right: 1px solid #e6e6e6;
}
.contact-us ul li h5 {
  font-weight: bold;
  margin: 24px 0 16px 0;
}
.contact-us ul li:last-child {
  border-right: none;
}
.contact-us ul .active {
  color: #fff;
  background: #1f4ba4;
}
.contact-us .contact {
  text-align: center;
  padding: 150px 0;
}
.contact-us .contact .flex {
  padding: 0 300px;
}
.contact-us .contact img {
  width: 72px;
  height: 72px;
}
.contact-us .contact .title h4 {
  font-size: 24px;
}
.contact-us .contact .title h6 {
  font-size: 14px;
  color: #b3b3b3;
  margin-bottom: 90px;
}
.contact-us .contact h5 {
  color: #484848;
  font-size: 18px;
}
.contact-us .contact p {
  font-size: 14px;
  color: #666;
}
.join-us .list {
  padding-top: 20px;
}
.join-us .list li {
  padding: 30px 0;
  border-bottom: 1px solid #efefef;
}
.join-us .list li .word {
  width: 720px;
  transition: .5s;
}
.join-us .list li .word a {
  font-size: 16px;
  color: #333;
  display: block;
  margin-bottom: 20px;
}
.join-us .list li .word p {
  color: #a1a1a1;
  font-size: 12px;
  margin: 0;
  line-height: 30px;
}
.join-us .list li .time {
  width: 88px;
  color: #999;
}
.join-us .list li .time span {
  margin-left: 12px;
  transition: .5s;
}
.join-us .list li .time a {
  display: block;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  color: #999;
  margin-top: 20px;
  transition: 1s;
}
.join-us .list li:hover .word {
  margin-left: 20px;
}
.join-us .list li:hover .word a {
  color: #7cc46c;
}
.join-us .list li:hover .time span {
  margin-left: 0;
}
.join-us .list li:hover .time a {
  background: #7cc46c;
  color: #fff;
}
.join-detail .content h2 {
  line-height: 70px;
  font-size: 18px;
  margin: 0;
  border-bottom: 1px solid #ebebeb;
}
.join-detail .content h5 {
  color: #666;
  margin: 40px 0 20px 0;
}
.join-detail .content p {
  font-size: 12px;
  line-height: 48px;
  margin: 0;
  color: #666;
}
.join-detail .contact-email {
  padding: 30px 0 180px 0;
}
.join-detail .contact-email h5 {
  color: #666;
  margin: 40px 0 20px 0;
}
.join-detail .contact-email p {
  font-size: 12px;
  line-height: 50px;
  margin: 0;
  color: #666;
}
