html {
  -webkit-text-size-adjust: none;
}
a {
  text-decoration: none !important;
}
header .top {
  padding: 10px 0;
}
header .logo {
  text-align: left;
}
header .logo-word {
  padding: 0 30px;
  text-align: left;
}
header .logo-word h6 {
  line-height: 20px;
  margin: 15px 0;
}
header .qr {
  display: flex;
}
header .head-nav {
  background: #003a81;
}
header .head-nav img {
  width: 90px;
}
header .head-nav .navbar-header {
  margin: 0;
}
header .head-nav .navbar-header a {
  display: none;
}
header .head-nav .navbar-default {
  border: none;
  background: transparent;
  padding: 0;
  margin-bottom: 0;
}
header .head-nav .navbar-default .navbar-collapse {
  padding: 0;
  padding: 20px 0;
}
header .head-nav .navbar-default a {
  color: #fff;
  background: transparent;
  transition: .3s;
  padding-left: 25px;
}
header .head-nav .navbar-default .active {
  color: #7cc46c;
}
header .head-nav .navbar-default a:hover,
header .head-nav .navbar-default a:focus {
  color: #7cc46c;
  background: transparent;
}
header .head-nav .navbar-default .dropdown-menu {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border: none;
  background: #fff;
  top: 70px;
}
header .head-nav .navbar-default .dropdown-menu a {
  line-height: 44px;
  color: #000;
  transition: .3s;
  padding: 0 30px 0 20px;
}
header .head-nav .navbar-default .dropdown-menu a:hover {
  color: #7cc46c;
}
header .head-nav .navbar-default .navbar-toggle {
  border-color: #fff;
  margin-right: 20px;
}
header .head-nav .navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}
footer {
  background: #003a81;
  text-align: center;
  padding: 50px 0;
}
footer .container {
  color: #fff;
}
footer .container .col-md-2 {
  height: 200px;
  padding: 0;
  width: 20%;
}
footer .container .col-md-2 div {
  margin: 0 auto;
}
footer .container img {
  width: 100px;
  height: 100px;
  margin: 10px 0;
}
footer .container p {
  margin: 0;
  color: #ccd8e6;
  line-height: 28px;
  font-size: 13px;
}
footer .container h3 {
  margin-bottom: 40px;
}
footer .container span {
  font-size: 20px;
  display: block;
  line-height: 200px;
  width: 6%;
  padding: 0;
}
footer .container .fa-angle-down {
  display: none;
}
.index .banner {
  position: relative;
}
.index .banner div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
.index .banner div img {
  width: 100%;
}
.index .banner div:first-child {
  display: block;
}
.index .service .title {
  text-align: center;
}
.index .service .title h2 {
  margin: 60px 0 20px 0;
  font-size: 30px;
}
.index .service .title span {
  font-weight: bold;
}
.index .service .title div {
  margin: 0 auto;
  width: 380px;
  height: 1px;
  background: #ddd;
  margin-bottom: 76px;
  position: relative;
}
.index .service .title div i {
  display: block;
  width: 50px;
  height: 3px;
  background: #7cc46c;
  position: absolute;
  top: -1px;
  left: 165px;
}
.index .service ul {
  margin-bottom: 30px;
}
.index .service ul li {
  display: flex;
  margin: 20px 0;
}
.index .service ul li img {
  width: 64px;
  height: 64px;
}
.index .service ul li div {
  margin-left: 18px;
  width: 290px;
}
.index .service ul li div h3 {
  margin: 0;
  font-size: 16px;
}
.index .service ul li div hr {
  border: none;
  width: 40px;
  border-bottom: 3px solid #7cc46c;
  margin: 12px 0;
}
.index .service ul li div p {
  margin: 0;
  line-height: 24px;
  color: #808080;
}
.index .service .server {
  padding-top: 15px;
}
.index .service .server figure {
  margin: 15px auto;
  width: 370px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.index .service .server figure img {
  width: 370px;
  height: 260px;
  transition: .5s;
}
.index .service .server figure div {
  width: 370px;
  height: 280px;
  overflow: hidden;
}
.index .service .server figcaption {
  padding: 10px 30px 40px 40px;
}
.index .service .server figcaption h4 {
  font-size: 24px;
}
.index .service .server figcaption hr {
  border: none;
  width: 40px;
  border-bottom: 3px solid #7cc46c;
  margin: 12px 0;
}
.index .service .server figcaption p {
  margin: 0;
  padding: 10px 0 30px 0;
  line-height: 24px;
  color: #808080;
}
.index .service .server figcaption a {
  color: #000;
  font-weight: bold;
}
.index .service .server figure:hover img {
  transform: scale(1.16, 1.16);
}
.index .service .server figure:hover a {
  color: #003a81;
}
.index .intro {
  margin-top: 100px;
}
.index .intro hr {
  margin: 0;
}
.index .intro .tab {
  width: 300px;
  margin: 0 auto;
}
.index .intro .tab div {
  width: 110px;
  text-align: center;
  line-height: 64px;
  font-size: 16px;
  cursor: pointer;
}
.index .intro .tab .active {
  color: #fff;
  background: #003a81;
}
.index .intro ul {
  margin: 40px 0 120px 0;
}
.index .intro ul li {
  display: none;
}
.index .intro ul li img {
  border-radius: 6px;
  height: auto;
}
.index .intro ul li h4 {
  font-size: 16px;
  font-weight: bold;
}
.index .intro ul li p {
  font-size: 14px;
  color: #333;
  line-height: 30px;
}
.url-position {
  background: #f4f4f4;
}
.url-position div {
  line-height: 26px;
  padding: 15px;
  color: #484848;
  font-size: 12px;
}
.url-position div a {
  color: #484848;
}
.url-position div span {
  color: #a7a7a7;
}
.news .list {
  padding-top: 20px;
}
.news .list li {
  padding: 30px 0;
  border-bottom: 1px solid #efefef;
}
.news .list li .img div {
  overflow: hidden;
}
.news .list li .img img {
  width: 100%;
  height: auto;
  transition: .5s;
}
.news .list li .word {
  transition: .5s;
}
.news .list li .word a {
  display: block;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}
.news .list li .word p {
  color: #a1a1a1;
  font-size: 12px;
  margin-top: 10px;
  line-height: 30px;
}
.news .list li .time {
  color: #999;
}
.news .list li .time span {
  transition: .5s;
  display: block;
  text-indent: 80px;
}
.news .list li .time a {
  display: block;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  color: #999;
  transition: 1s;
  width: 88px;
  margin: 20px auto 0 auto;
}
.news .list li:hover .img img {
  transform: scale(1.16, 1.16);
}
.news .list li:hover .word {
  padding-left: 10px;
}
.news .list li:hover .word a {
  color: #7cc46c;
}
.news .list li:hover .time span {
  text-indent: 0;
}
.news .list li:hover .time a {
  background: #7cc46c;
  color: #fff;
}
.M-box a {
  border: none;
  color: #666;
}
.M-box .active {
  background: #003a81;
  border: none;
  border-radius: 4px;
}
.M-box a:hover {
  border: none;
  background: #f7f7f7;
  border-radius: 4px;
  color: #666;
}
.news-detail {
  padding-bottom: 72px;
}
.news-detail .content .title {
  padding-top: 40px;
}
.news-detail .content .title h3 {
  font-size: 18px;
  margin: 0;
}
.news-detail .content .title span {
  font-size: 12px;
}
.news-detail .content .detail img {
  max-width: 100%;
}
.news-detail .content .detail p {
  border-bottom: 1px dashed #efefef;
  line-height: 30px;
  margin: 0;
  padding: 20px 0;
  color: #666;
  font-size: 12px;
}
.news-detail .content .detail p:last-child {
  border-bottom: none;
}
.news-detail .commend li {
  padding: 30px 0 20px 0;
  border-bottom: 1px solid #efefef;
}
.news-detail .commend li h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.news-detail .commend li p {
  line-height: 30px;
  font-size: 12px;
  margin: 0;
}
.news-detail .commend li:last-child {
  border-bottom: none;
}
.news-detail .commend li:hover h4 {
  color: #7cc46c;
}
.business-detail {
  padding-bottom: 200px;
}
.business-detail .content h2 {
  line-height: 70px;
  font-size: 18px;
  margin: 0;
  border-bottom: 1px solid #ebebeb;
}
.business-detail .content h5 {
  color: #989898;
  margin: 30px 0 10px 0;
}
.business-detail .content img {
  max-width: 100%;
}
.business-detail .content p {
  font-size: 12px;
  line-height: 30px;
  margin: 0;
  padding: 12px 0;
  color: #989898;
}
.contact-us iframe {
  overflow: hidden;
  width: 100%;
}
.contact-us ul {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: -56px;
}
.contact-us ul li {
  color: #666;
  font-size: 14px;
  background: #fff;
  cursor: pointer;
  border-right: 1px solid #e6e6e6;
}
.contact-us ul li h5 {
  font-weight: bold;
  margin: 0;
  padding: 24px 0 16px 0;
}
.contact-us ul li p {
  margin: 0;
  padding-bottom: 25px;
}
.contact-us ul li:last-child {
  border-right: none;
}
.contact-us ul .active {
  color: #fff;
  background: #1f4ba4;
}
.contact-us .contact {
  text-align: center;
  padding: 50px 0 150px 0;
}
.contact-us .contact .style {
  width: 540px;
  margin: 0 auto;
}
.contact-us .contact img {
  width: 72px;
  height: 72px;
}
.contact-us .contact .title h4 {
  font-size: 24px;
}
.contact-us .contact .title h6 {
  font-size: 14px;
  color: #b3b3b3;
  margin-bottom: 90px;
}
.contact-us .contact h5 {
  color: #484848;
  font-size: 18px;
}
.contact-us .contact p {
  font-size: 14px;
  color: #666;
}
.join-us .list {
  padding-top: 20px;
}
.join-us .list li {
  padding: 30px 0;
  border-bottom: 1px solid #efefef;
}
.join-us .list li .word {
  transition: .5s;
}
.join-us .list li .word a {
  font-size: 16px;
  color: #333;
  display: block;
  margin-bottom: 20px;
}
.join-us .list li .word p {
  color: #a1a1a1;
  font-size: 12px;
  margin: 0;
  line-height: 30px;
}
.join-us .list li .time {
  color: #999;
}
.join-us .list li .time span {
  display: block;
  text-indent: 40px;
  transition: .5s;
}
.join-us .list li .time a {
  display: block;
  width: 88px;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  color: #999;
  margin: 20px auto 0 auto;
  transition: 1s;
}
.join-us .list li:hover .word {
  padding-left: 30px;
}
.join-us .list li:hover .word a {
  color: #7cc46c;
}
.join-us .list li:hover .time span {
  text-indent: 0;
}
.join-us .list li:hover .time a {
  background: #7cc46c;
  color: #fff;
}
.join-detail .content h2 {
  padding: 20px 0;
  line-height: 30px;
  font-size: 18px;
  margin: 0;
  border-bottom: 1px solid #ebebeb;
}
.join-detail .content h5 {
  color: #666;
  margin: 40px 0 20px 0;
}
.join-detail .content p {
  padding: 12px 0;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  color: #666;
}
.join-detail .contact-email {
  padding: 30px 15px 180px 15px;
}
.join-detail .contact-email h5 {
  color: #666;
  margin: 40px 0 20px 0;
}
.join-detail .contact-email p {
  padding: 12px 0;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  color: #666;
}
